* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: transparent;
}

h1 {
  font-size: 3rem;
  text-align: center;
}
